server {
    listen 80;
    listen [::]:80;
 
    root /var/www/{{ project }}/public;
 
    index index.php index.html index.htm index.nginx-debian.html;
    server_name {{ project }}.local;
 
    access_log /var/www/{{ project }}/logs/access.log;
    error_log /var/www/{{ project }}/logs/error.log;
 
    location / {
        index index.html index.php;
        try_files $uri $uri/ @handler;
        expires 30d;
    }
}
