server {
        listen 80;
        server_name {{ project }}-vue.local;
        ssl_protocols TLSv1.2;
        add_header Strict-Transport-Security "max-age=31536000" always;
        add_header X-Frame-Options DENY;
        add_header X-Content-Type-Options nosniff;
        add_header X-XSS-Protection "1; mode=block";
        add_header X-Robots-Tag none;

        gzip on;
        gzip_proxied any;
        gzip_types
                text/css
                text/javascript
                text/xml
                application/javascript
                application/json
                text/json
                text/html;

        location / {
                proxy_pass http://localhost:3001/;
        }

        location /robots.txt {
                index robots.txt;
                alias /var/www/staging/magento/pub/;
        }

        location /assets/manifest.json {
                satisfy any;
                allow all;
                auth_basic off;
                proxy_pass http://localhost:3001/assets/manifest.json;
        }

        location /assets/ {
                proxy_pass http://localhost:3001/assets/;
        }

        location /api/ {
                proxy_pass http://localhost:8081/api/;
        }

        location /img/ {
                proxy_pass http://localhost:8081/img/;
        }

        location /media/ {
                proxy_pass http://localhost:8081/media/;
        }

    error_page 502 /502.html;

    location = /502.html {
      root  /var/www/staging/magento;
    }
}
